<% include partials/header %>
<div class="ui main text container segment">
    <div class="ui huge header">All blogs</div>
    <div class="ui top attached segment">
<div class="ui divided items">
  
    <% blog.forEach(function(blog){%>
    <div class="item">
       <div class="image">
            <img src=" <%= blog.image %> ">
       </div>
        <div class="content">
             <div class="header"> <a href="/blogs/<%= blog._id %>"> <%= blog.title%> </a></div>
             <div class="meta">
                  <span> <%= blog.created.toDateString() %> </span>
            
        </div>
        <div class="description">
              <p> <%- blog.body.substring(0,100) %>.... </p>
              <div class="extra">
                   <a href="/blogs/<%= blog._id %>">Read More</a>
              </div>
              
        </div>
      
       </div>
    </div>

<% }); %>
</div>
</div>
</div>
<% include partials/footer %>
